    .Header{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   }
  
   .SubTest{
    font-style: initial;
    font-family:Arial, Helvetica, sans-serif;
   }

   .Contacts{
    font-style: initial;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
  
   .LinkButton{
    font-weight: bolder;
    background-color: white;
    border-color: black;
    color: black;
    border-style: solid;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
  
    border-radius: 18px;
    transition: opacity 0.2s, box-shadow 0.2s, padding-left 0.2s, padding-right 0.2s, margin-left 0.2s, margin-right 0.2s;
   }
  
   .LinkButton:hover{
    background-color: black;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 35px;
    padding-right: 35px;  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
   }
  
   .LinkButton:active{
    opacity: 0.6;
   }